*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}
p{
    line-height: 1.7;
    color: #6c6c6c;
}
/* header start */

header{
    background-color: #2D25A0;
}

/* nav start */

.container{
    width: 1160px;
    margin: auto;
}

nav a,
.container a{
    text-decoration: none;
    color: white;
}

nav li a{
    text-shadow: 0px 5px 10px rgb(22, 32, 87);
}

.fa-sign-in-alt{
    padding-right: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

.link-button{
    background-color: #E02C6D;
    padding: 10px 25px;
}

/* nav end */

.banner_img{
    width: 550px;
    padding-top: 50px;
}

.fa-arrow-right{
    padding-left: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}



.container h1{
    font-size: 4rem;
    color: white;
    padding-top: 120px;
    padding-bottom: 25px;
}
/* header end */

/* card start here */

.card-container{
    width: 1050px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    padding: 60px 0;
}

.card{
    padding: 15px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 40px  rgba(0, 0, 0, 0.19);
}


h3.card_title{
    font-size: 1.6rem;
    font-weight: 700;
    padding: 5px 0;
}

/* card end here */

/* highlight start */
.highlight_container{
    width: 1160px;

    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.highlight_left{
    width: 100%;
}

.highlight_left p{
    width: 75%;
    margin-bottom: 30px;
}

.highlight_left h2{
    font-size: 3rem;
}


.highlight_template{
    width: 570px;
}


/* highlight end */
/* footer start */
footer{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.social-icon{
    color:gray ;

}

.social-icons a{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.185) ;
    align-items: center;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50% ;
    margin: 10px ;
    line-height: 2.2;
}


footer p{
    font-size: 18px;
    color: black;
    padding-top: 10px;
    padding-bottom: 30px;
}
/* footer end */

@media only screen and (max-width:688px) {
    p{
        line-height: 1.5;
        color: #6c6c6c;
    }
    
    .container{
        width: 100%;
    }

    nav{
        display: none;
    }

    header{
        width: 100%;
    }

    .container_right{
        width: 100%;
        margin: auto;
        justify-content: center;
    }

    .container_left{
        width: 100%;
    }

    .container h1{
        font-size: 2rem;
        color: white;
        padding-top: 40px;
        padding-bottom: 25px;
        padding-left: 20px;
    }

    .link-button{
        background-color: #E02C6D;
        padding: 10px 25px;
        margin-left: 20px;
    }

    .banner{
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px;
    }

    .banner_img{
        width: 300px;
        margin-left: 7px;
        padding: 50px 0 ;
    }
    
    .card-container{
        width: 100%;
    }
    
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
}

    .card{
        width: 90% ;
        margin-left: 5%;
        padding: 15px;
        padding-bottom: 40px;
        box-shadow: 0px 0px 40px  rgba(0, 0, 0, 0.19);
    }
    
    .highlight_container{
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        

    }
    .highlight_template{
        width: 100%;
    }

    footer{
        width: 100%;
        margin: auto;
    }

    .logo{
        width: 90%;
    }

    .social-icons a{
        width: 25px;
        height: 25px;
        border-radius: 50% ;
        margin: 5px ;
        line-height: 1.7;
    }

    .social-icon{
        font-size: 15px;
    
    }
    

    footer p{
        font-size: 16px;
        color: black;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
}